<a class="aero-button" href="/I2KNA/">
🏠 Home
</a>


<div class="sidebar-separator"></div>


<a class="aero-button" href="/I2KNA/pages/websites.html" data-category="websites">
🌐 Websites
</a>


<a class="aero-button" href="/I2KNA/pages/software.html" data-category="software">
💿 Software
</a>


<div class="sidebar-separator"></div>


<a class="aero-button" href="/I2KNA/pages/wallpapers.html" data-category="wallpapers">
🖼 Wallpapers
</a>


<a class="aero-button" href="/I2KNA/pages/blog.html" data-category="blog">
📰 Blog
</a>


<div class="sidebar-separator"></div>


<a class="aero-button" href="/I2KNA/pages/about.html" data-category="about">
ℹ About
</a>
